<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет News -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор которой был передан в url -->
{% block content %}
<h1><strong>{{ new.title }}</strong></h1>
<h2>{{ new.time_in | date:'d M Y' }}</h2>
<hr>
<p>{{ new.text | censor }}</p>
{% endblock content %}


