{% extends 'flatpages/default.html' %}
{% block title %}
News List
{% endblock title %}
{% block content %}
<button> <a href="http://127.0.0.1:8000/all-posts"> Все новости</a> </button>
<h1 class="text-center">Новости - Bceгo: {{ category_news_list|length }}</h1>
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm"> Подписаться на категорию</a> </p>
{% endif %}
<hr>

<ul class="list-group list-group-flush">
    {% for newspost in category_news_list %}
        <li class="list-group-item">
            <small class="fw-bold">{{ newspost.time_in|date:'d M Y' }} </small><br>
            <a href="{% url 'news_detail' newspost.id %}">{{ newspost.title }}</a>
            <small class="text-muted">(автор: {{ newspost.author}})</small> <br>
            <small class="fw-bold">Категории:
                {% for category in newspost.categories.all %}
                    <a href="{% url 'category_list' category.id %}"> {{ category.category }}</a>
                {% endfor %}
            </small>
            <p>{{ newspost.content|truncatechars:200 }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock content %}